{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "arrow-parens": "off",
        "comma-dangle": "off",
        "require-jsdoc": "off",
        "eol-last": "off",
        "no-unused-vars": "off",
        "space-before-blocks": "off",
        "indent": "off",
        "no-case-declarations": "off"
    },
    "extends": [
        "eslint:recommended", 
        "google"
    ]
}